.music-player{
    font-weight: bold;
    background-color: #dedede;
    text-align: center;
    position: fixed;
    bottom: 15px;
    right: 15px;
    padding: 15px;
    border-radius: 10px;
}
.music-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.play-pause-button {
    background-color: #dedede;
    border: none;
    border-radius: 50%;
    display: flex;
}
.play-pause-button>img {
    width: 30px;
    cursor: pointer;
}


.volume-slider {
    width: 150px;
}
